@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-size: 'Roboto',sans-serif;
}

.wrapper{
    margin: 91px 124px;
}

h1{
    font-family: 'Roboto Slab',sans-serif;
    font-size: 55px;
}

p.content-1{
    display: block;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 400;
    width: 70%;
}   
.content-1:last-child{
    margin-top: 20px;
    width: 68%;
}

.flex-1{
    display: flex;
    justify-content: space-between;
}

.flex-2{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto',sans-serif;
    margin-top: 94px;
}

p.c-title{
    font-size: 25px;
    font-weight: 700;
}

div.content-flex> p:last-child{
    font-size: 18px;
    width:160px;
}

.ellipse, .illustration{
    width:314px;
}


.ellipse{
    position:absolute;
    right: 30px;
    top: 280px;
    left: -30px;
    width: 370px;
    z-index: -1;
}

.ellipse-2{
    position:absolute;
    width:170px;
    z-index: -1;
    top:189px;
    right:20px;
}
/* Desktop layout*/
@media (min-width:1400px) {
    body{
        font-size: 'Roboto',sans-serif;
    }

    .wrapper{
        margin: 91px 124px;
    }

    h1{
        font-family: 'Roboto Slab',sans-serif;
        font-size: 55px;
    }

    p.content-1{
        display: block;
        font-family: 'Roboto',sans-serif;
        font-size: 24px;
        font-weight: 400;
        width: 70%;
    }   
    .content-1:last-child{
        margin-top: 20px;
        width: 68%;
    }

    .flex-1{
        display: flex;
        justify-content: space-between;
    }

    .flex-2{
        width: 70vw;
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto',sans-serif;
        margin-top: 94px;
    }

    p.c-title{
        font-size: 25px;
        font-weight: 700;
    }

    div.content-flex> p:last-child{
        font-size: 18px;
        width:160px;
    }

    #wrap{
        display: flex;
        justify-content: space-between;
    }

    #wrap > div:nth-child(2){
        margin-left: 50%;
    }
}

/* tablet layout */
@media (max-width:830px) {
    body{
        font-size: 'Roboto',sans-serif;
    }
    .wrapper{
        margin: 56px 72px;
    }

    h1{
        font-family: 'Roboto Slab',sans-serif;
        font-size: 32px;
    }

    p.content-1{
        display: block;
        font-family: 'Roboto',sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 70%;
    }
    .content-1:last-child
    {
        width: 70%;
    }

    div.div-2 > img{
        width: 170px;
        padding-top: 30px;

    }

    div.div-3 > img{
        display: none;
    }
    
    .flex-1{
        display: flex;
        justify-content: space-between;
    }

    .div-1{
        width:70%;
    }

    .div-2{
        width: 30%;
    }
    

    .ellipse{
        right: 200px;
        top: 155px;
        left: 3px;
        width: 50vw;
        height: 34.17px;
        z-index: -1;
    }
    
    .flex-2{
        display: flex;
        font-family: 'Roboto',sans-serif;
        margin-top:30px;
        width:40px;
    }

    p.c-title{
        font-size: 15px;
        font-weight: 700;
    }

    div.content-flex> p:last-child{
        font-size: 11px;
        width:104px;
    }

    #wrap{
        display: flex;
    }
}

/* mobile layout */

@media (max-width:414px){
    body{
        font-size: 'Roboto',sans-serif;
    }
    .wrapper{
        margin: 56px 32px 56px 32px;
        width: 80vw;
    }

    .flex-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content-1:last-child{
        width: 83vw;
    }

    p.content-1{
        width:200%;
    }

    .flex-2{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #wrap{
        display: flex;
        flex-wrap: nowrap;
    }

    #wrap> div:nth-child(2){
        margin-left: 40px;
    }

    .div-1 > p{
        display: block;
        font-family: 'Roboto',sans-serif;
        font-size: 12px;
        font-weight: 400;
        width: 83vw;
        word-break:break-all;
        white-space:unset;
    }

    .ellipse, .illustration{
        width: 146px;
        height: 146px;
    }

    .illustration{
        margin-left: 200px;
    }

    .ellipse{
        right: 0px;
        top: 130px;
        left: 56px;
        height: 34.17px;
        z-index: -1;
    }

    div.content-flex> p:last-child{
            font-size: 10px;
            width:80px;
    }

    h1{
        font-family: 'Roboto Slab',sans-serif;
        font-size: 26px;
    }

    div.div-2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media (max-width:375px) {
    body{
        font-size: 'Roboto',sans-serif;
    }
    .wrapper{
        margin: 56px 32px 56px 32px;
        width: 80vw;
    }

    .flex-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content-1:last-child{
        width: 83vw;
    }

    p.content-1{
        width:200%;
    }

    .flex-2{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #wrap{
        display: flex;
        flex-wrap: nowrap;
    }

    #wrap> div:nth-child(2){
        margin-left: 40px;
    }

    .div-1 > p{
        display: block;
        font-family: 'Roboto',sans-serif;
        font-size: 12px;
        font-weight: 400;
        width: 83vw;
        word-break:break-all;
        white-space:unset;
    }

    .ellipse, .illustration{
        width: 146px;
        height: 146px;
    }

    .illustration{
        margin-left: 200px;
    }

    .ellipse{
        right: 0px;
        top: 130px;
        left: 56px;
        height: 34.17px;
        z-index: -1;
    }

    div.content-flex> p:last-child{
            font-size: 10px;
            width:80px;
    }

    h1{
        font-family: 'Roboto Slab',sans-serif;
        font-size: 26px;
    }

    div.div-2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}